<h2 class="container-title">
  Samples <span *ngIf="auth?.email">{{ auth.userType() }}</span>
</h2>

<!-- admin form  -->
<form
  *ngIf="auth?.email === 'admin@labanalysis.it'"
  class="admin-form"
  #adminForm="ngForm"
  (ngSubmit)="admin.addSample(adminForm)"
>
  <input
    class="name"
    matInput
    type="text"
    name="name"
    placeholder="Enter name"
    ngModel
    required
  />
  <input
    class="desc"
    matInput
    type="text"
    name="description"
    placeholder="Enter description"
    ngModel
    required
  />

  <button class="btn" type="submit" [disabled]="!adminForm.valid">Add</button>
</form>

<div *ngIf="!auth.isSearchText; else searchText">
  <div class="container" *ngFor="let sample of admin.samples" #content>
    <!-- tests viewer function  -->
    <p class="name">{{ sample?.name }}</p>
    <p>{{ sample?.description }}</p>
    <button (click)="auth.viewTests(sample?.id)">View Tests</button>
    <div *ngIf="auth.isTests">
      <ul *ngFor="let test of auth.tests?.items">
        <li>{{ test.name }}</li>
      </ul>
    </div>

    <button
      class="removeBtn"
      *ngIf="auth?.email === 'admin@labanalysis.it'"
      (click)="admin.removeSample(sample.id)"
    >
      X
    </button>
  </div>
</div>
<ng-template #searchText>
  <p>{{ auth.searchText?.name }}</p>
  <p>{{ auth.searchText?.description }}</p>
</ng-template>
